body {
  background: linear-gradient(#febe01, #000);
  background-attachment: fixed;
}
h1 {
  font-size: 70px;
  text-align: center;
  color: rgb(0, 0, 0);
}
h2 {
  font-size: 35px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
hr {
  width: 50%;
  height: 10px;
  background: #000000;
  border: 0;
}

.item {
  background: #000;
  padding: 30px;
  margin: 20px auto;
  border-radius: 5px;
  width: 50%;
}
p {
  color: #b2b2b2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
span {
  color: #febe01;
  font-weight: 700;
}
a {
  background: #febe01;
  color: #000;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  border: #febf0100 solid 1px;
}
a:hover {
  background: #000;
  color: #febe01;
  border: #febe01 solid 1px;
}
